<div [style.height.px]="height"
     class="rel full-w">
  <canvas [height]="height"
          [width]="width"
          class="base bordered"
          id="canvasLeft">
  </canvas>
  <canvas [height]="height"
          [width]="width"
          class="overlay bordered"
          id="canvasRight">
  </canvas>
  <canvas [height]="height"
          [width]="width"
          class="overlay2 bordered"
          id="canvasOverlay">
  </canvas>
  <canvas (mousedown)="mouseDown($event)"
          (mousemove)="mouseMove($event)"
          (mouseout)="mouseOut($event)"
          (mouseup)="mouseUp($event)"
          [height]="height"
          [width]="width"
          class="overlay3 bordered"
          id="canvasSlide"
          title="Zum Verschieben des Wischers Punkte am Rand bewegen">
  </canvas>
  <canvas [height]="height"
          [width]="width"
          class="base bordered"
          id="canvasTmp"
          style="display: none">
  </canvas>
  <canvas class="base bordered"
          id="canvasT"
          style="display: none">
  </canvas>
</div>
