<div class="flex">
  <div class="ui-g-8 ui-g-nopad">
    <div class="flow-root">
      <div class="ui-g-5 ui-g-nopad" id="div">
        <app-img-man #imgMan1 (imageDropped)="imageDropped()" [annotateReqFun]="annotateReqFun"
          [compareDataHolderService]="compareDataHolderService" [eyesAnnotatedFun]="eyesAnnotatedFun"
          [height]="getHeight()" [id]="1" [inSearchTab]="inSearchTab" [neighbour]="imgMan2"
          [updateCallback]="imageComparer.loadImage" [width]="getWidth()"></app-img-man>
      </div>

      <div class="ui-g-2 ui-g-nopad middle-column" [style.height.px]="getHeight()">
        <div class="traffic-light-container">
          <div class="traffic-light-box" [ngStyle]="getColorStyle()" 
               [style.visibility]="trafficLight ?  'visible' : 'hidden'">
            <div class="traffic-light-content">
              <div class="traffic-light-comment">
                {{ trafficLight?. comment }}
              </div>
              <div class="traffic-light-score">
                Score: {{ trafficLight?.score | number: '1.2-2' }}
              </div>
            </div>
          </div>
        </div>

        <div class="buttons-container">
          <button (click)="changeSynchronization()" [icon]="synchronized ? 'fa fa-lock' : 'fa fa-unlock'"
            [ngClass]="synchronized ? 'p-button-success' : 'p-button-danger'"
            class="p-button-rounded action-button" pButton pRipple
            title="Bilder synchron/nicht synchron halten" type="button"></button>

          <button (click)="changeMonochrome()" [ngClass]="monochrome ? 'p-button-success' : 'p-button-danger'"
            class="p-button-rounded action-button" icon="fa fa-adjust" pButton pRipple
            title="Umschalten auf S/W" type="button"></button>

          <button (click)="changeHelpLinesVisibility()" [ngClass]="helpLines ? 'p-button-success' : 'p-button-danger'"
            class="p-button-rounded action-button" icon="fa fa-align-center" pButton pRipple
            title="Hilfslinien" type="button"></button>

          <button pButton class="p-button-rounded p-button-info action-button" 
            [icon]="'fa fa-user'"
            (click)="primaryAction()" 
            [title]="inSearchTab ? 'Bild in Datenbank suchen' : 'Vergleichen (Original)'"
            type="button"></button>

          <button pButton class="p-button-rounded p-button-warning action-button" icon="fa fa-user-o"
            (click)="secondaryAction()" title="Vergleichen (modifiziert)"
            type="button"></button>
        </div>
      </div>

      <div class="ui-g-5 ui-g-nopad">
        <app-img-man #imgMan2 (imageDropped)="imageDropped()" [annotateReqFun]="annotateReqFun"
          [compareDataHolderService]="compareDataHolderService" [eyesAnnotatedFun]="eyesAnnotatedFun"
          [height]="getHeight()" [id]="2" [inSearchTab]="inSearchTab" [neighbour]="imgMan1"
          [updateCallback]="imageComparer.loadImage" [width]="getWidth()"></app-img-man>
      </div>
    </div>

    <div class="ui-g p-mt-2">
      <div class="ui-g-5 ui-g-nopad" style="padding-right: 10px;"></div>
      <div class="ui-g-2 ui-g-nopad"></div>
      <div class="ui-g-5 ui-g-nopad" style="padding-left: 10px;">
        <div *ngIf="displayNote">
          <textarea pInputTextarea class='jsman personal-info-notes' placeholder="Bemerkung" [(ngModel)]="note"
            style="width: 100%; height: auto; min-height: 150px; resize: none; border: 1px solid #ccc; padding: 5px;"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g-4 ui-g-nopad" id="compare-div">
    <div style="margin-left: 20px;">
      <app-image-comparer #imageComparer [height]="getCompareHeight()" [width]="getCompareWidth()"></app-image-comparer>

      <div class="p-grid p-flex-column button-fill-parent p-mt-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>