<div class="flex">
  <div class="ui-g-8 ui-g-nopad">
    <div class="flow-root">
      <div class="ui-g-5 ui-g-nopad"
           id="div">
        <app-img-man #imgMan1
                     (imageDropped)="imageDropped()"
                     [annotateReqFun]="annotateReqFun"
                     [compareDataHolderService]="compareDataHolderService"
                     [eyesAnnotatedFun]="eyesAnnotatedFun"
                     [height]="getHeight()"
                     [id]="1"
                     [inSearchTab]="inSearchTab"
                     [neighbour]="imgMan2"
                     [updateCallback]="imageComparer.loadImage"
                     [width]="getWidth()"></app-img-man>
      </div>

      <div [style.marginTop.px]="height/3"
           class="ui-g-2 ui-g-nopad centered-grid">
        <button (click)="changeSynchronization()"
                [icon]="synchronized ? 'fa fa-lock' : 'fa fa-unlock'"
                [ngClass]="synchronized ? 'p-button-success' : 'p-button-danger'"
                class="p-ml-auto p-mr-auto p-mb-2 p-button-rounded"
                pButton
                pRipple
                title="Bilder synchron/nicht synchron halten"
                type="button"></button>
        <button (click)="changeMonochrome()"
                [ngClass]="monochrome ? 'p-button-success' : 'p-button-danger'"
                class="p-ml-auto p-mr-auto p-mb-2 p-button-rounded"
                icon="fa fa-adjust"
                pButton
                pRipple
                title="Umschalten auf S/W"></button>
        <button (click)="changeHelpLinesVisibility()"
                [ngClass]="helpLines ? 'p-button-success' : 'p-button-danger'"
                class="p-ml-auto p-mr-auto p-button-rounded p-mb-2"
                icon="fa fa-align-center"
                pButton
                pRipple
                title="Hilfslinien"></button>
        <label style="font-size: xx-large">{{score}}</label>
      </div>

      <div class="ui-g-5 ui-g-nopad">
        <app-img-man #imgMan2
                     (imageDropped)="imageDropped()"
                     [annotateReqFun]="this.annotateReqFun"
                     [compareDataHolderService]="compareDataHolderService"
                     [eyesAnnotatedFun]="eyesAnnotatedFun"
                     [height]="getHeight()"
                     [id]="2"
                     [inSearchTab]="inSearchTab"
                     [neighbour]="imgMan1"
                     [updateCallback]="imageComparer.loadImage"
                     [width]="getWidth()"></app-img-man>
      </div>

    </div>
    <div *ngIf="displayNote"
         class="p-mt-2">
      <textarea [(ngModel)]="note"
                [rows]="5"
                class="personal-info-notes"
                pInputTextarea
                placeholder="Bemerkung"></textarea>
    </div>
  </div>

  <div class="ui-g-4 ui-g-nopad"
       id="compare-div">
    <div style="margin-left: 20px">
      <app-image-comparer #imageComparer
                          [height]="getCompareHeight()"
                          [width]="getCompareWidth()">
      </app-image-comparer>
      <div
        class="p-grid p-flex-column button-fill-parent p-mt-2">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

</div>
