<div class="container normal-text">
  <div class="inner-container">

    <div class="div_spinner" *ngIf="busy">
      <sk-circle></sk-circle>
    </div>

    <p-growl [value]="msgs" [life]="growlLife"></p-growl>

    <h1 class="page-title">{{'label.page.ChangePassword' | translate}}</h1>

    <div class="align-center" style="width: 500px;">

      <p-panel header="{{'label.ChangePassword' | translate}}" [style]="{'margin-left':'auto', 'margin-right':'auto'}">
        <form #form="ngForm">
          <div class="ui-g">
            <div class="ui-g-5" style="text-align: right;"><label for="input_oldpassword" [class.input-invalid]="oldpasswordU.invalid">{{'label.OldPassword' | translate}}:</label></div>
            <div class="ui-g-6"><input id="input_oldpassword" pPassword type="password" [(ngModel)]="request.oldPassword" [feedback]="false" name="oldPassword" #oldpasswordU="ngModel" required /></div>
          </div>
          <div class="ui-g">
            <div class="ui-g-5" style="text-align: right;"><label for="input_password" [class.input-invalid]="passwordU.invalid">{{'label.Password' | translate}}:</label></div>
            <div class="ui-g-6"><input id="input_password" pPassword type="password" [(ngModel)]="request.password" name="password" #passwordU="ngModel" required/></div>
          </div>
          <div class="ui-g">
            <div class="ui-g-5" style="text-align: right;"><label for="input_passwordrepeat" [class.input-invalid]="passwordRepeatU.invalid">{{'label.PasswordRepeat' | translate}}:</label></div>
            <div class="ui-g-6"><input id="input_passwordrepeat" pPassword type="password" [(ngModel)]="passwordRepeat" name="passwordRepeat" #passwordRepeatU="ngModel" required/></div>
          </div>
          <div class="ui-g">
            <div class="ui-g-5"></div>
            <div class="ui-g-6">
              <button type="button" pButton icon="fa-check" (click)="form.valid && changePassword()" label="{{'label.Submit' | translate}}"></button>
            </div>

          </div>
        </form>
      </p-panel>
    </div>
  </div>
</div>
