<div class="container normal-text">
  <div class="inner-container">

    <h1 class="page-title">{{'label.Comparer' | translate}}</h1>

    <div class="div_spinner_comparer" *ngIf="busy">
      <sk-circle></sk-circle>
    </div>

    <p-growl [value]="msgs" [life]="growlLife"></p-growl>

    <div class="ui-g" style="margin-top:10px;">
      <div class="ui-g-12">
        <app-image-transformer #imageTransformer
                               [annotateReqFun]="annotateReq"
                               [eyesAnnotatedFun]="eyesAnnotated"
                               [compareDataHolderService]="compareDataHolderService"
                               [inSearchTab]="false">
          
          <div *ngIf="exportVisible" style="margin-top: 20px; width: 100%;">
            <textarea pInputTextarea 
                      class='personal-info-notes'
                      placeholder="Bemerkung"
                      [(ngModel)]="notes"
                      [disabled]="!exportEnabled"
                      style="width: 100%; height: 100px; margin-bottom: 10px;"></textarea>
            
            <button pButton 
                    type="button"
                    label="Herunterladen (PDF ohne Trefferwert)"
                    (click)="exportSingle()"
                    [disabled]="!exportEnabled"
                    style="width: 100%; margin-bottom: 10px;"></button>
            
            <p-checkbox binary="true"
              label="mit Benutzernamen"
              [(ngModel)]="exportFullName"
              [disabled]="!exportEnabled"
              [ngStyle]="{'display': 'block', 'text-align': 'center'}">
            </p-checkbox>
          </div>
          
        </app-image-transformer>
      </div>
    </div>

  </div>
</div>