<div class="container normal-text">
  <div class="inner-container">

    <h1 class="page-title">{{'label.Incidents' | translate}}</h1>

    <div class="div_spinner" *ngIf="busy">
      <sk-circle></sk-circle>
    </div>

    <p-growl [value]="msgs" [life]="growlLife"></p-growl>

    <div>
      <p-panel header="Filter" [toggleable]="true">
        <div class="ui-g">
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_caseId">{{'label.CaseId' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_caseId" type="text" pInputText class="input_search" [(ngModel)]="filter.caseId" (keyup.enter)="actionSearch()" /></div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_priority">{{'label.Priority' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2" style="text-align: left;">
              <p-dropdown inputId="input_priority" [options]="priorities" [autoWidth]="false" [style]="{'width':'220px'}" [(ngModel)]="selectedPriority" (onChange)="changedPriority($event)"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_createdDate">{{'label.CreatedDate' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2">
              <input id="input_createdDate" type="date" pInputText class="input_search" [(ngModel)]="filter.createdDate" (keyup.enter)="actionSearch()" />
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_pkz">{{'label.PKZ' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_pkz" type="text" pInputText class="input_search" [(ngModel)]="filter.pkz" (keyup.enter)="actionSearch()" /></div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_fileNumber">{{'label.FileNumber' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_fileNumber" type="text" pInputText class="input_search" [(ngModel)]="filter.fileNumber" (keyup.enter)="actionSearch()" /></div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_lastname">{{'label.LastName' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_lastname" type="text" pInputText class="input_search" [(ngModel)]="filter.lastName" (keyup.enter)="actionSearch()" /></div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_firstname">{{'label.FirstName' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_firstname" type="text" pInputText class="input_search" [(ngModel)]="filter.firstName" (keyup.enter)="actionSearch()" /></div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_nationality">{{'label.Nationality' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2" style="text-align: left;">
              <p-dropdown inputId="input_nationality" [options]="nationalities" [autoWidth]="false" [style]="{'width':'220px'}" [filter]="true" [(ngModel)]="selectedNationality" (onChange)="changedNationality($event)"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_azrNumber">{{'label.AZRNumber' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_azrNumber" type="text" pInputText class="input_search" [(ngModel)]="filter.azrNumber" (keyup.enter)="actionSearch()" /></div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_dNumber">{{'label.DNumber' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2"><input id="input_dNumber" type="text" pInputText class="input_search" [(ngModel)]="filter.dNumber" (keyup.enter)="actionSearch()" /></div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_workplace">{{'label.Office' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2" style="text-align: left;">
              <p-dropdown inputId="input_workplace" [options]="workplaceItems" [autoWidth]="false" [style]="{'width':'220px'}" [(ngModel)]="selectedWorkplaceId" (onChange)="changedWorkplaceId($event)"></p-dropdown>
            </div>
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;"><label for="input_status">{{'label.Status' | translate}}:</label></div>
            <div class="ui-g-6 top-padding-2" style="text-align: left;">
              <p-dropdown inputId="input_status" [options]="statuses" [autoWidth]="false" [style]="{'width':'220px'}" [(ngModel)]="selectedStatus" (onChange)="changedStatus($event)"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-5 top-padding-2" style="text-align: right;">&nbsp;</div>
            <div class="ui-g-7 top-padding-2" style="text-align: left;">
              <p-checkbox [(ngModel)]="filter.showDoubleEvents" label="{{'label.ShowDoubleEvents' | translate}}" binary="true"></p-checkbox>
            </div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 no-top-bottom-padding">
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
          </div>
          <div class="ui-g-4 no-top-bottom-padding">
            <div class="ui-g-12 top-padding-2" style="text-align: right;">
              <button pButton class="ui-button" type="button" icon="fa-search" iconPos="left" label="{{'label.Search' | translate}}" title="{{'label.Search' | translate}}" (click)="actionSearch()"></button>
              <button pButton style="margin-right: 80px;" type="button" icon="fa-undo" iconPos="left" label="{{'label.Clear' | translate}}" title="{{'label.Clear' | translate}}" (click)="clear()"></button>
            </div>
          </div>
        </div>
      </p-panel>
    </div>

    <div style="margin-top: 20px">
      <p-dataTable #dt [value]="incidents" selectionMode="single" [style]="{'padding-bottom':'85px'}" [(selection)]="selectedIncident" [rows]="defaultRows" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,20,30,50]" [lazy]="true" [totalRecords]="totalIncidentsCount" resizableColumns="true" rowHover="true" (onLazyLoad)="onLazyPage($event)" (onRowSelect)="onRowSelect($event)">
        <p-header>{{"label.ListOfIncidents" | translate}}</p-header>
        <p-footer>{{"label.TotalRecords" | translate}}{{totalIncidentsCount}}</p-footer>
        <p-column field="priority" [sortable]="true">
          <ng-template pTemplate="header">
            {{'label.Priority' | translate}}
          </ng-template>
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row.priority.priority}}
          </ng-template>
        </p-column>
        <p-column field="caseId" [sortable]="true" [style]="{'width': '105px'}">
          <ng-template pTemplate="header">
            {{'label.CaseId' | translate}}
          </ng-template>
        </p-column>
        <p-column field="createdDate" [sortable]="true" [style]="{'width': '140px'}">
          <ng-template pTemplate="header">
            {{'label.CreatedDate' | translate}}
          </ng-template>
          <ng-template let-col let-createdDate="rowData" pTemplate="body">
            {{createdDate[col.field] | date : 'dd.MM.yyyy'}}
          </ng-template>
        </p-column>
        <p-column field="aPkz" [sortable]="true" [style]="{'width': '80px'}">
          <ng-template pTemplate="header">
            {{'label.PKZ1' | translate}}
          </ng-template>
        </p-column>
        <p-column field="bPkz" [sortable]="true" [style]="{'width': '80px'}">
          <ng-template pTemplate="header">
            {{'label.PKZ2' | translate}}
          </ng-template>
        </p-column>
        <p-column field="aFileNumber" [sortable]="true" [style]="{'width': '130px'}">
          <ng-template pTemplate="header">
            {{'label.FileNumber' | translate}}
          </ng-template>
        </p-column>
        <p-column field="aLastName" [sortable]="true">
          <ng-template pTemplate="header">
            {{'label.LastName' | translate}}
          </ng-template>
        </p-column>
        <p-column field="aFirstName" [sortable]="true">
          <ng-template pTemplate="header">
            {{'label.FirstName' | translate}}
          </ng-template>
        </p-column>
        <p-column field="aBirthDate" [sortable]="true" [style]="{'width': '130px'}">
          <ng-template pTemplate="header">
            {{'label.BirthDate' | translate}}
          </ng-template>
          <ng-template let-col let-birthDate="rowData" pTemplate="body">
            {{birthDate[col.field] | date : 'dd.MM.yyyy'}}
          </ng-template>
        </p-column>
        <p-column field="aNationality" [sortable]="true" [style]="{'width': '165px'}">
          <ng-template pTemplate="header">
            {{'label.Nationality' | translate}}
          </ng-template>
        </p-column>
        <p-column field="aGender" [sortable]="true" [style]="{'width': '105px'}">
          <ng-template pTemplate="header">
            {{'label.Sex' | translate}}
          </ng-template>
          <ng-template let-col let-gender="rowData" pTemplate="body">
            {{'label.Sex.' + gender[col.field] | translate }}
          </ng-template>
        </p-column>
        <p-column field="aAzrNumber" [sortable]="true" [style]="{'width': '130px'}">
          <ng-template pTemplate="header">
            {{'label.AZRNumber' | translate}}
          </ng-template>
        </p-column>
        <p-column field="aDNumber" [sortable]="true" [style]="{'width': '130px'}">
          <ng-template pTemplate="header">
            {{'label.DNumber' | translate}}
          </ng-template>
        </p-column>
        <p-column field="status" [sortable]="true">
          <ng-template pTemplate="header">
            {{'label.Status' | translate}}
          </ng-template>
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{'label.Status.' + row.status.statusId | translate}}
          </ng-template>
        </p-column>
        <p-column field="workplace" [sortable]="true">
          <ng-template pTemplate="header">
            {{'label.Office' | translate}}
          </ng-template>
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row.workplace?.workplace}}
          </ng-template>
        </p-column>
        <p-column styleClass="text-center" field="caseId" [style]="{'width': '70px'}">
          <ng-template pTemplate="header">
            {{'label.Action' | translate}}
          </ng-template>
          <ng-template let-col let-caseId="rowData" pTemplate="body">
            <button pButton type="button" title="{{'label.Investigate' | translate}}" icon="fa-pencil" (focus)="changeStyleOfRow(caseId[col.field])" (click)="navigateCase(caseId[col.field])"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
</div>
