<div class="container normal-text">
  <div class="inner-container">

    <div class="div_spinner" *ngIf="busy">
      <sk-circle></sk-circle>
    </div>

    <p-growl [(value)]="msgs" [life]="1000"></p-growl>

    <div class="align-center" style="width: 400px;" *ngIf="canDisplay">

      <p-panel header="{{'label.Login' | translate}}" [style]="{'margin-top':'100px', 'margin-left':'auto', 'margin-right':'auto'}">
        <div class="ui-g">
          <div class="ui-g-4">
            {{'label.Username' | translate}}:
          </div>
          <div class="ui-g-3">
            <input type="text" class="login-input" pInputText id="username" name="username" [(ngModel)]="username" (keyup.enter)="authenticate($event)" autofocus/>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4">
            {{'label.Password' | translate}}:
          </div>
          <div class="ui-g-3">
            <input type="password" class="login-input" pPassword indicator="false" [feedback]="false" id="password" name="password" [(ngModel)]="password" (keyup.enter)="authenticate($event)" />
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4"></div>
          <div class="ui-g-3">
            <button pButton type="button" label="{{'label.Login' | translate}}" icon="fa-sign-in" iconPos="left" (click)="authenticate($event)"></button>
          </div>
        </div>
      </p-panel>
    </div>

  </div>
</div>
